.btn-add {
    width: $bnt-add-width;
    height: $bnt-add-height;
    
    display: $bnt-add-display;
    // para que el icono se vaya al centro horizontalmente
    justify-content: $bnt-add-justify-content;
    // para que el icono se vaya al centro verticalmente
    align-items: $bnt-add-align-items;
    
    // estilos a partir de sm
    @media screen and (min-width: $sm) {
        height: $bnt-add-height-sm;
    }

    i {
        font-size: $bnt-add-icon-font-size;
        
        // estilos a partir de sm
        @media screen and (min-width: $sm) {
            font-size: $bnt-add-icon-font-size-sm;
        }
    }
}
