.home {
    @include audiowide-regular;

    font-size: 50px;
    color: #002855;
    text-align: center;
    padding: 50px;
 
    // estilos a partir de sm
    @media screen and (min-width: $sm) {
        font-size: 70px;
    }

    // estilos a partir de md
    @media screen and (min-width: $md) {
        font-size: 80px;
    }
}

.home-subtitulos {
    @include orbitron;
    font-size: 20px;
    text-align: center;
    padding: 40px 50px;

    // estilos a partir de sm
    @media screen and (min-width: $sm) {
        font-size: 25px;
    }

    // estilos a partir de md
    @media screen and (min-width: $md) {
        font-size: 30px;
    }

    .bi {
        font-size: 50px;
        padding-left: 50px;

        // estilos a partir de sm
        @media screen and (min-width: $sm) {
            font-size: 75px;
        }

        // estilos a partir de md
        @media screen and (min-width: $md) {
            font-size: 100px;
        }
    }
}

.home-ejercicios {
    padding: 80px 0;
}
