// para que el compoenente se alinée al centro
.formlogin-ext {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: $formlogin-padding-top;
}

.formlogin {
    max-width: $formlogin-max-width;

    // estilos a partir de sm
    @media screen and (min-width: $sm) {

        background-color: $formlogin-fondo-color;
        border-radius: $formlogin-radio-borde;
    }

    .campo {
        // paddings
        padding-top: $formlogin-campo-padding-top;
        padding-bottom: $formlogin-campo-padding-bottom;
        padding-right: $formlogin-campo-padding-right;
        padding-left: $formlogin-campo-padding-left;

        // iconos
        i {
            font-size: $formlogin-icon-size;
        }

        // primera clase campo
        &:first-child {
            padding-top: $formlogin-1campo-padding-top;
        }

        // para que el input y el boton se vayan al centro
        .input-group, &:last-child {
            text-align: center;
        }

        button {
            margin-top: $formlogin-button-margin-top;
            margin-bottom: $formlogin-button-margin-bottom;

            width: $formlogin-button-width;
            height: $form-button-height;
            font-size: $form-button-font-size;
        }
    }
}
