//
// todas las variables de Schedule-X sacadas de la documentación
// https://schedule-x.dev/docs/calendar/theme
//
:root {
    --sx-color-primary: #6750a4;
    --sx-color-on-primary: #fff;
    --sx-color-primary-container: #eaddff;
    --sx-color-on-primary-container: #21005e;
    --sx-color-secondary: #625b71;
    --sx-color-on-secondary: #fff;
    --sx-color-secondary-container: #e8def8;
    --sx-color-on-secondary-container: #1e192b;
    --sx-color-tertiary: #7d5260;
    --sx-color-on-tertiary: #fff;
    --sx-color-tertiary-container: #ffd8e4;
    --sx-color-on-tertiary-container: #370b1e;
    --sx-color-surface: #fef7ff;
    --sx-color-surface-dim: #ded8e1;
    --sx-color-surface-bright: #fef7ff;
    --sx-color-on-surface: #1c1b1f;
    --sx-color-surface-container: #f3edf7;
    --sx-color-surface-container-low: #f7f2fa;
    --sx-color-surface-container-high: #ece6f0;
    --sx-color-background: #fff; // deviation from material 3, which would be #FEF7FF
    --sx-color-on-background: #1c1b1f;
    --sx-color-outline: #79747e;
    --sx-color-outline-variant: #c4c7c5;
    --sx-color-shadow: #000;
    --sx-color-surface-tint: #6750a4;
    --sx-color-neutral: var(--sx-color-outline);
    --sx-color-neutral-variant: var(--sx-color-outline-variant);

    // internally defined colors, not belonging to the material design spec
    --sx-internal-color-gray-ripple-background: #e0e0e0;
    --sx-internal-color-light-gray: #fafafa;
    --sx-internal-color-text: #000;
}

.sx-calendar-accesos {
    --sx-color-primary-container: #ff3838;
    --sx-color-primary: #ff6363;
}
.sx-calendar-seguimientos {
    --sx-color-primary-container: #f3ff4b;
    --sx-color-primary: #a3a852;
}
.sx-calendar-tarifas {
    --sx-color-primary-container: #4bff87;
    --sx-color-primary: #59a852;
}

.sx-calendar {
    padding-top: $sx-calendar-padding-top;
    display: $sx-calendar-display;
    justify-content: $sx-calendar-justify-content;

    // estilos a partir de md
    @media screen and (min-width: $md) {
        padding: $sx-calendar-padding-md;
    }

    //
    // clase para el custom component de schedule-x, event modal
    //
    .event-modal {
        background-color: $sx-calendar-event-modal-bg-color;
        color: $sx-calendar-event-modal-color;

        font-size: $sx-calendar-event-modal-font-size;

        border: $sx-calendar-event-modal-border;
        border-radius: $sx-calendar-event-modal-border-radius;

        padding: $sx-calendar-event-modal-padding;

        // ancho máximo todo el ancho de la pantalla, 
        // solo afecha a <sm porque para los demás anchos
        // ya usa el ancho que tiene por defecto
        max-width: $sx-calendar-event-modal-max-width;

        // estilos a partir de sm
        @media screen and (min-width: $sm) {

            font-size: $sx-calendar-event-modal-font-size-sm;
        }

        .destacado {
            font-weight: $sx-calendar-event-modal-destacado-font-weight;
        }

        .detalles {
            text-align: $sx-calendar-event-modal-detalles-text-align;
            padding-top: $sx-calendar-event-modal-detalles-padding-top;

            button {
                font-size: $sx-calendar-event-modal-detalles-button-font-size;
            }
        }
    }
}

//
// clase sacada de la documentación de schedule-x
//
.sx-react-calendar-wrapper {
    width: $sx-calendar-wrapper-width;
    height: $sx-calendar-wrapper-height;

    // estilos a partir de sm
    @media screen and (min-width: $sm) {
        max-width: $sx-calendar-wrapper-max-width-sm;
        max-height: $sx-calendar-wrapper-max-height-sm;
    }

    // estilos a partir de md
    @media screen and (min-width: $md) {
        width: $sx-calendar-wrapper-width-md;
        height: $sx-calendar-wrapper-height-md;
    }
}
