.dropdown-user {

    .dropdown-fuera-offcanvas {
        background-color: #0B090A;
        position: absolute; // para que no el contenido del propdown no se quede dentro del navbar y pueda salir
    
        .dropdown-item {
            color: #d3d3d3;
            
            &:hover {
                background-color: #888888;
                color: #0B090A;
            }
        }
    }

    .nav-link {

        // imagen del usuario
        .user-icon {
            width: $navbar-width-user-icon;
            border-radius: $navbar-border-radius-user-icon;
            margin: $navbar-padding-items;
        }

        // icono de usuario
        .bi {
            font-size: $navbar-size-user-icon;
            padding-right: 5px;
        }

        // iconos de flecha
        .bi-caret-down, .bi-caret-down-fill {
            font-size: $navbar-size-flecha-icon;
        }

        // icono de pulsado desaparece por defecto
        .bi-caret-down-fill {
            display: none;
        }

        // cuando se pulsa, el icono normal desaparece, y aparece el de pulsado
        &:focus, &:hover {

            .bi-caret-down {
                display: none;
            }

            .bi-caret-down-fill {
                display: inline;
            }
        }
    
    }
}
