.navbar {

    .logo-reactiv {
        width: $width-logoreactiv-nav;
        padding: 0 5px;
    }

    .navbar-toggler {
        font-size: $size-boton-nav;
        
        // icono de botón enú pulsado desaparece por defecto
        .bi-list-nested {
            color: $color-boton-hover-nav;
            display: none;
        }

        // cuando está pulsado el desplegabla del navbar, desaparece el botón normal y aparece el de pulsado
        &:hover, &:focus {

            .bi-list {
                display: none;
            }
            .bi-list-nested {
                display: inline;
            }
        }
    }

    // boton para cerrar desplegable del modo móvil
    .btn-close, .navbar-toggler {
        border: 0;

        &:focus {
            box-shadow: none;
        }
    }    
}
