.navbar {

    .logo-reactiv {
        width: $navbar-width-logoreactiv;
        padding: $navbar-padding-items;
    }

    .navbar-toggler {
        font-size: $navbar-size-boton;
        
        // icono de botón enú pulsado desaparece por defecto
        .bi-list-nested {
            color: $navbar-color-boton-hover;
            display: none;
        }

        // cuando está pulsado el desplegabla del navbar, desaparece el botón normal y aparece el de pulsado
        &:hover, &:focus {

            .bi-list {
                display: none;
            }
            .bi-list-nested {
                display: inline;
            }
        }
    }

    // boton para cerrar desplegable del modo móvil
    .btn-close, .navbar-toggler {
        border: $navbar-offcanvas-btn-close-border;

        &:focus {
            box-shadow: none;
        }
    }
    
    // desplegable del navbar
    .offcanvas {
        
        // estilos hasta md, a partir de md se dejan de aplicar
        @media screen and (max-width: $md) {
            width: $navbar-offcanvas-width-sm;

            // estilos hasta sm, a partir de sm se dejan de aplicar
            @media screen and (max-width: $sm) {
                width: $navbar-offcanvas-width;
                max-width: $navbar-offcanvas-max-width;
            }
        }
    }
}
