// cálculo para que el carousel con el TopBar y la flecha para bajar ocupe siempre toda la altura de la pantalla
$altura-total-carousel: calc(#{$altura-car} - #{$altura-topbar-car} - #{$altura-bajar-car});

.carousel {
    height: $altura-total-carousel;
    padding: $padding-car;

    .carousel-item img {
        height: $altura-total-carousel;
        object-fit: cover;
    }
}

// botón para bajar el carousel
.bajar-carousel {
    text-align: $align-bajar-car;
    height: $altura-bajar-car;

    padding-top: $padding-top-bajar-car;
    padding-bottom: $padding-bottom-bajar-car;

    button {
        background: none;
        border: none;
        cursor: pointer;
    
        .bi {
            font-size: $flecha-size-car;
            display: inline-block;
            animation: flecha-sube-baja 1.5s infinite;
            transition: transform 0.3s ease, font-size 0.3s ease;
        }

        // los inconos de flechas se alternan cuando pasas el ratón

        .bi-caret-down {
            display: block;
        }
        .bi-caret-down-fill {
            display: none;
        }

        &:hover {
            .bi-caret-down {
                display: none !important;
            }
            .bi-caret-down-fill {
                display: block;
            }
        }

        &:hover .bi:hover {
            transform: translateY(5px);
            font-size: $flecha-hover-size-car;
        }
    }
}

@keyframes flecha-sube-baja {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}
