.rutina-card {
    padding-top: $rutina-card-padding-top;

    // estilos a partir de sm
    @media screen and (min-width: $sm) {
        padding: $rutina-card-padding-sm;
    }

    .item {

        .imagen {
            height: $rutina-card-item-imagen-height;
        }

        // color de fondo
        .fondo {
            background-size: cover;
            background-position: center;
            width: $rutina-card-item-fondo-width;
            height: $rutina-card-item-fondo-height;
            border-radius: $rutina-card-item-fondo-border;
            background: linear-gradient(135deg,
                lighten($rutina-card-item-fondo-color, 10%), // claro
                $rutina-card-item-fondo-color, // base
                darken($rutina-card-item-fondo-color, 10%) // oscuro 
            );
        }

        // estilos a partir de sm
        @media screen and (min-width: $sm) {
            border: $rutina-card-item-border-sm;
            border-radius: $rutina-card-item-border-radius-sm;
            padding: $rutina-card-item-padding-sm;

            .nombre {
                font-size: $rutina-card-item-nombre-font-size-sm;
                font-weight: $rutina-card-item-nombre-font-weight-sm;
            }

            .desc {
                font-size: $rutina-card-item-desc-font-size-sm;
            }

            &:hover {
                background-color: $rutina-card-item-hover-bg-color-sm;
            }
        }
    }

    .accordion-button {
        background: linear-gradient(135deg,
            lighten($rutina-card-item-fondo-color, 10%), // claro
            $rutina-card-item-fondo-color, // base
            darken($rutina-card-item-fondo-color, 10%) // oscuro 
        );
    }

    .btn-ver-rutina {
        // para que ocupe todo el ancho del desplegable
        width: $rutina-card-btn-ver-rutina-width;

        border-color: $rutina-card-item-fondo-color;

        // para que se separe de la descripción
        margin-top: $rutina-card-btn-ver-rutina-margin-top;

        &:hover {
            color: $body-bg-color; // fondo de la pagina
            border-color: $body-bg-color; //fondo de la pagina
            background-color: $rutina-card-item-fondo-color;
        }
    }
}
