$body-height: 100vh;
$body-bg-color: rgb(255, 255, 255);

// media queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/**
 *
 * Fonts
 */
@mixin font-reloj {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin host-grotesk {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@mixin julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/**
 *
 * Forms
 */
$form-padding-sm: 20px 100px;
$form-padding-md: 20px 180px 0 50px;

// buttons
$form-button-font-size: 20px;
$form-button-width: 140px;
$form-button-height: 50px;

$form-button-margin-top: 40px;
$form-button-margin-bottom: 100px;
$form-button-margin-right: 40px;
$form-button-margin-left: 40px;

$form-campo-padding: 20px;
$color-placeholder: rgb(167, 167, 167);

// label
$label-color: green;
$label-weigth: bold;

// input
$form-input-border-color: #ff6600;
$form-input-shadow-color: #ff660040;
$form-input-max-width: 550px;

$color-input-error: #c80000;
$size-input-error: 15px;

// select
$form-select-menu-z-index: 999;
$form-select-menu-max-height: 60vh;
$form-select-menu-width-sm: 500px;
$form-select-menu-width-md: 750px;
$form-select-menu-width-xl: 1000px;

$form-select-menu-list-max-height: $form-select-menu-max-height;
$form-select-menu-list-gap: 10px;
$form-select-menu-list-display: grid;
$form-select-menu-list-grid-template-columns-md: 1fr 1fr;
$form-select-menu-list-grid-template-columns-xl: 1fr 1fr 1fr;

// archivos
$color-icono-eliminar: #ff0000;

/**
 *
 * Login
 */
$formlogin-padding-top: 90px;
$formlogin-max-width: 400px;
$formlogin-fondo-color: rgb(255, 190, 190);
$formlogin-radio-borde: 5px;

$formlogin-campo-padding-top: $form-campo-padding - 10;
$formlogin-campo-padding-bottom: $form-campo-padding - 10;
$formlogin-campo-padding-right: $form-campo-padding;
$formlogin-campo-padding-left: $form-campo-padding;

$formlogin-1campo-padding-top: 40px; // el padding-top del primer campo

$formlogin-icon-size: 20px;

$formlogin-button-width: $form-button-width + 30;
$formlogin-button-margin-top: 25px;
$formlogin-button-margin-bottom: 25px;

/**
 *
 * Dashboard
 */
$dashb-titulo-font-size: 25px;
$dashb-titulo-font-size-sm: 30px;
$dashb-titulo-align: center;
$dashb-titulo-align-sm: start;
$dashb-titulo-padding: 20px;

$dashb-titulo-padding-top-bottom-sm: 30px;
$dashb-titulo-padding-left-right-sm: 50px;
$dashb-titulo-padding-sm: $dashb-titulo-padding-top-bottom-sm $dashb-titulo-padding-left-right-sm;

$dashb-titulo-destacado-color: red;
$dashb-titulo-destacado-font-weight: bold;

$dashb-subtitulo-font-size: $dashb-titulo-font-size - 5;
$dashb-subtitulo-font-size-sm: $dashb-titulo-font-size-sm - 3;
$dashb-subtitulo-align: center;
$dashb-subtitulo-align-sm: start;
$dashb-subtitulo-padding: 30px;
$dashb-subtitulo-padding-sm: 30px 70px;

$dashb-menu-padding: 20px;

$dashb-item-align: center;

$dashb-item-border: 1px solid black;
$dashb-item-border-radius: 5px;

$dashb-item-margin-top: 10px;
$dashb-item-margin-bottom: 10px;

$dashb-item-padding-top: 20px;
$dashb-item-padding-bottom: 20px;
$dashb-item-padding-left: 0px;
$dashb-item-padding-right: 0px;
$dashb-item-padding-top-sm: 50px;
$dashb-item-padding-bottom-sm: 50px;
$dashb-item-padding-left-sm: 10px;
$dashb-item-padding-right-sm: 10px;

/**
 *
 * Card
 */
$card-width: 250px;
$card-margin: 10px;
$card-align-items: center;

$card-img-margin-top: 22px;
$card-img-width: 100px;
$card-img-width-sm: 150px;
$card-img-width-md: 200px;

$card-subtitle-weigth: normal;
$card-subtitle-text-transform: uppercase;
$card-subtitle-padding: 10px 0;

$card-p-card-text-padding: 5px 0;

$card-info-padding: 7px 0 10px 15px;
$card-info-card-text-align: start;
$card-info-card-text-list-style: none;
$card-info-card-text-span-weight: bold;

$card-botones-align: center;
$card-button-width: 40px;
$card-button-margin: 2px 10px;

/**
 *
 * Componentes comunes
 */
// calendar
$sx-calendar-padding-top: 50px;
$sx-calendar-display: flex;
$sx-calendar-justify-content: center;

$sx-calendar-padding-md: 50px;

$sx-calendar-event-modal-bg-color: rgb(235, 235, 235);
$sx-calendar-event-modal-color: black;
$sx-calendar-event-modal-font-size: 15px;
$sx-calendar-event-modal-border: 1px solid rgb(177, 177, 177);
$sx-calendar-event-modal-border-radius: 10px;
$sx-calendar-event-modal-padding: 20px;
$sx-calendar-event-modal-max-width: 100vw;

$sx-calendar-event-modal-font-size-sm: 20px;

$sx-calendar-event-modal-destacado-font-weight: bold;

$sx-calendar-event-modal-detalles-text-align: center;
$sx-calendar-event-modal-detalles-padding-top: 15px;
$sx-calendar-event-modal-detalles-button-font-size: 15px;

$sx-calendar-wrapper-width: 100vw;
$sx-calendar-wrapper-height: 55vh;

$sx-calendar-wrapper-max-width-sm: 90vw;
$sx-calendar-wrapper-max-height-sm: 80vh;

$sx-calendar-wrapper-width-md: 1200px;
$sx-calendar-wrapper-height-md: 800px;

// datos codigo acceso
$datos-codigo-acceso-text-align: center;

// datos calentamiento/seguimiento
$datos-cal-seg-text-align: center;
$datos-cal-seg-padding-top: 10px;
$datos-cal-seg-padding-left: 20px;

$datos-cal-seg-text-align-sm: start;
$datos-cal-seg-padding-left-sm: 50px;

$datos-cal-seg-button-margin: 0 10px;

// datos taquilla
$datos-taquilla-font-size: 20px;
$datos-taquilla-padding-top: 20px;
$datos-taquilla-padding-left: 0px;

$datos-taquilla-padding-left-sm: 30px;

$datos-taquilla-destacado-color: blue;
$datos-taquilla-destacado-font-weight: bold;

$datos-taquilla-fecha-fianza-socio-padding-bottom: 30px;

// datos tarifas
$datos-tarifa-bg-color: #e0e0e0;
$datos-tarifa-text-align: center;
$datos-tarifa-border: 1px solid black;
$datos-tarifa-border-radius: 5px;
$datos-tarifa-margin: 50px 0px;
$datos-tarifa-padding: 25px;

$datos-tarifa-margin-sm: 50px;

$datos-tarifa-titulo-color: green;
$datos-tarifa-titulo-font-size: 25px;
$datos-tarifa-titulo-font-weight: bold;
$datos-tarifa-titulo-text-align: center;
$datos-tarifa-titulo-padding-bottom: 20px;

$datos-tarifa-campo-padding: 0px;

$datos-tarifa-campo-contenido-background-color: #cee8ff;
$datos-tarifa-campo-contenido-border: 1px solid black;
$datos-tarifa-campo-contenido-border-radius: 5px;
$datos-tarifa-campo-contenido-margin: 5px 0px;

$datos-tarifa-campo-contenido-margin-sm: 5px;

$datos-tarifa-campo-contenido-titulo-font-size: 17px;
$datos-tarifa-campo-contenido-titulo-font-weight: bold;
$datos-tarifa-campo-contenido-titulo-padding: 5px;

$datos-tarifa-campo-contenido-detalle-padding: 10px;

// topbar
$altura-topbar-car: 100px;
$topbar-logo-width: 100px;
$topbar-logo-padding: 10px;

// carousel
$padding-car: 0;
$altura-car: 100vh;

$align-bajar-car: center;
$altura-bajar-car: 100px;
$padding-top-bajar-car: 20px;
$padding-bottom-bajar-car: 20px;

$flecha-size-car: 36px;
$flecha-hover-size-car: 50px;

// navbar
$navbar-color-boton-hover: var(--bs-navbar-hover-color);

$navbar-width-logoreactiv: 45px;
$navbar-width-user-icon: 45px;
$navbar-border-radius-user-icon: 50%;
$navbar-padding-logoreactiv: 0 5px;

$navbar-size-boton: 30px;
$navbar-size-user-icon: 30px;
$navbar-size-flecha-icon: 20px;

$navbar-offcanvas-btn-close-border: 0;
$navbar-offcanvas-width: 200px;
$navbar-offcanvas-max-width: 70%;
$navbar-offcanvas-width-sm: 50%;

// crear rutina
$crear-rutina-padding-right: 15px;
$crear-rutina-padding-left: 15px;
$crear-rutina-padding-right-sm: 40px;
$crear-rutina-padding-left-sm: 40px;

// lista rutina/seguimientos calentamientos/ejercicios
$lista-rut-seg-detalles-align: center;
$lista-rut-seg-detalles-justify-content: center;

$desplegable-rut-seg-detalles-margin: 40px 60px;
$desplegable-rut-seg-detalles-text-align: center;
$desplegable-rut-seg-detalles-text-align-sm: start;

$dropdown-form-add-calentamiento-ejercicio-seguimiento-padding: 20px;

// lista socio productos
$lista-socio-productos-justify-content: center;

/**
 *
 * Componenes UI
 */
// access card
$flip-card-access-card-height: 250px;
$flip-card-access-card-padding: 0 50px;

// breadcrumb
$breadcrumb-padding-left: $dashb-titulo-padding; // igual que el titulo de dashboard
$breadcrumb-padding-left-sm: $dashb-titulo-padding-left-right-sm; // igual que el titulo de dashboard

$breadcrumb-divider-color: rgb(0, 0, 0);
$breadcrumb-divider-width: 16;
$breadcrumb-divider-height: 12;

$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='#{$breadcrumb-divider-width}' height='#{$breadcrumb-divider-height}' fill='#{$breadcrumb-divider-color}' class='bi bi-shuffle' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.6 9.6 0 0 0 7.556 8a9.6 9.6 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.6 10.6 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.6 9.6 0 0 0 6.444 8a9.6 9.6 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5'/><path d='M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192'/></svg>");
$breadcrumb-divider2: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='#{$breadcrumb-divider-width}' height='#{$breadcrumb-divider-height}' fill='#{$breadcrumb-divider-color}' class='bi bi-heart-arrow' viewBox='0 0 16 16'><path d='M6.707 9h4.364c-.536 1.573 2.028 3.806 4.929-.5-2.9-4.306-5.465-2.073-4.929-.5H6.707L4.854 6.146a.5.5 0 1 0-.708.708L5.293 8h-.586L2.854 6.146a.5.5 0 1 0-.708.708L3.293 8h-.586L.854 6.146a.5.5 0 1 0-.708.708L1.793 8.5.146 10.146a.5.5 0 0 0 .708.708L2.707 9h.586l-1.147 1.146a.5.5 0 0 0 .708.708L4.707 9h.586l-1.147 1.146a.5.5 0 0 0 .708.708z'/></svg>");
$breadcrumb-divider3: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='#{$breadcrumb-divider-width}' height='#{$breadcrumb-divider-height}' fill='#{$breadcrumb-divider-color}' class='bi bi-arrow-left-right' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5'/></svg>");

// button add
$bnt-add-width: 100%;
$bnt-add-height: 50px;
$bnt-add-height-sm: 100px;
$bnt-add-display: flex;
$bnt-add-justify-content: center;
$bnt-add-align-items: center;
$bnt-add-margin-top: 20px;

$bnt-add-titulo-display: block;
$bnt-add-titulo-display-sm: none;
$bnt-add-hover-titulo-display: block;

$bnt-add-icon-font-size: 25px;
$bnt-add-icon-font-size-sm: 40px;

// button dark
$btn-dark-main-text-align: center;
$btn-dark-main-color: red;
$btn-dark-main-font-weight: bold;
$btn-dark-main-margin-top: 30px;
$btn-dark-main-margin-left: 0px;

$btn-dark-main-text-align-sm: start;
$btn-dark-main-margin-left-sm: 28px;

// button delete
$toast-delete-span-color: red;
$toast-delete-span-text-transform: uppercase;

$toast-delete-body-text-aling: $card-botones-align; // mismos estilos que los botones del componente card
$toast-delete-body-button-margin: $card-button-margin;

// checkbox desplegable
$checkbox-despl-font-size: 20px;
$checkbox-despl-color: red;

// rutina card
$rutina-card-padding-top: 10px;
$rutina-card-padding-sm: 20px 50px;

$rutina-card-item-border-sm: 1px solid black;
$rutina-card-item-border-radius-sm: 5px;
$rutina-card-item-padding-sm: 20px 20px;

$rutina-card-item-nombre-font-size-sm: 25px;
$rutina-card-item-nombre-font-weight-sm: bold;
$rutina-card-item-desc-font-size-sm: 17px;
$rutina-card-item-hover-bg-color-sm: #eaffa4;

$rutina-card-item-imagen-height: 50px;

$rutina-card-item-fondo-width: 100%;
$rutina-card-item-fondo-height: 100%;
$rutina-card-item-fondo-border: 10px;
$rutina-card-item-fondo-color: #acbb79;

$rutina-card-btn-ver-rutina-width: 100%;
$rutina-card-btn-ver-rutina-margin-top: 30px;

// producto card
$producto-card-width: 200px;
$producto-card-margin: 10px;

$producto-card-width-sm: 250px;
$producto-card-width-lg: 300px;

$producto-card-image-container-text-align: center;

$producto-card-image-container-img-width: 75px;
$producto-card-image-container-img-width-sm: 100px;
$producto-card-image-container-img-width-md: 150px;

$producto-card-title-font-size: 17px;
$producto-card-title-font-size-sm: 22px;

$producto-card-size-font-size: 15px;
$producto-card-size-font-size-sm: 20px;
