// carousel

$altura-car: 100vh;
$altura-topbar-car: 100px; // TopBar
$altura-bajar-car: 100px;

$flecha-size-car: 36px;
$flecha-hover-size-car: 50px;

// navbar

$color-boton-hover-nav: var(--bs-navbar-hover-color);

$width-logoreactiv-nav: 45px;

$size-boton-nav: 30px;
$size-user-icon-nav: 30px;
$size-flecha-icon-nav: 20px;

// forms

$color-placeholder: rgb(167, 167, 167);

$color-input-error: rgb(200, 0, 0);
$size-input-error: 15px;
