.top-bar {
  text-align: center;
  height: 100px;
}
.top-bar .logo-reactiv {
  width: 100px;
  padding: 10px;
}

.carousel {
  height: calc(100vh - 100px - 100px);
  padding: 0;
}
.carousel .carousel-item img {
  height: calc(100vh - 100px - 100px);
  -o-object-fit: cover;
     object-fit: cover;
}

.bajar-carousel {
  text-align: center;
  height: 100px;
  padding: 20px 0;
}
.bajar-carousel button {
  background: none;
  border: none;
  cursor: pointer;
}
.bajar-carousel button .bi {
  font-size: 36px;
  display: inline-block;
  animation: flecha-sube-baja 1.5s infinite;
  transition: transform 0.3s ease, font-size 0.3s ease;
}
.bajar-carousel button:hover .bi:hover {
  transform: translateY(5px);
  font-size: 50px;
}

@keyframes flecha-sube-baja {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.navbar .logo-reactiv {
  width: 45px;
  padding: 0 5px;
}
.navbar .navbar-toggler {
  font-size: 30px;
}
.navbar .navbar-toggler .bi-list-nested {
  color: var(--bs-navbar-hover-color);
  display: none;
}
.navbar .navbar-toggler:hover .bi-list, .navbar .navbar-toggler:focus .bi-list {
  display: none;
}
.navbar .navbar-toggler:hover .bi-list-nested, .navbar .navbar-toggler:focus .bi-list-nested {
  display: inline;
}
.navbar .btn-close, .navbar .navbar-toggler {
  border: 0;
}
.navbar .btn-close:focus, .navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .dropdown .dropdown-fuera-offcanvas {
  position: absolute;
}
.navbar .dropdown .nav-link .bi-person-circle {
  font-size: 30px;
  padding-right: 5px;
}
.navbar .dropdown .nav-link .bi-caret-down, .navbar .dropdown .nav-link .bi-caret-down-fill {
  font-size: 20px;
}
.navbar .dropdown .nav-link .bi-caret-down {
  display: inline;
}
.navbar .dropdown .nav-link .bi-caret-down-fill {
  display: none;
}
.navbar .dropdown .nav-link:focus .bi-caret-down {
  display: none;
}
.navbar .dropdown .nav-link:focus .bi-caret-down-fill {
  display: inline;
}

.formlogin-ext {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.formlogin {
  max-width: 400px;
}
.formlogin .campo {
  padding: 10px 40px;
}
.formlogin .campo .bi {
  font-size: 20px;
}
.formlogin .campo:first-child {
  padding-top: 40px;
}
.formlogin .campo .input-group, .formlogin .campo:last-child {
  text-align: center;
}
.formlogin .campo button {
  margin: 25px 0;
  width: 120px;
  height: 50px;
  font-size: 15px;
}

@media screen and (min-width: 576px) {
  .formlogin-ext {
    padding: 90px;
  }
  .formlogin {
    background-color: aliceblue;
    border-radius: 5px;
  }
  .formlogin .campo {
    padding: 10px 40px;
  }
  .formlogin .campo button {
    width: 170px;
    font-size: 20px;
  }
}
.input-error {
  color: rgb(200, 0, 0);
  font-size: 15px;
  text-align: left;
}

.eliminar-archivo {
  margin-top: 10px;
}
.eliminar-archivo button {
  margin-left: 10px;
  all: unset;
  color: red;
  font-size: 20px;
  padding-left: 7px;
}

.formsocio .campo {
  padding: 20px;
}

body {
  height: 100vh;
}
body .campo input::-moz-placeholder {
  color: rgb(199, 199, 199);
}
body .campo input::placeholder {
  color: rgb(199, 199, 199);
}/*# sourceMappingURL=style.css.map */