@import './imports';

body {
    background-color: $body-bg-color;
    
    // ocupa todo el alto de la pantalla
    height: $body-height;
}

// estilos de forms
form {

    .campo {
        padding: $form-campo-padding;

        label {
            color: $label-color;
            font-weight: $label-weigth;
        }

        input, textarea {
            max-width: $form-input-max-width;
        }

        input::placeholder, textarea::placeholder {
            color: $color-placeholder;
        }

        input:focus, textarea:focus {
            // cambia el color del borde cuando se hace click en el input
            border-color: $form-input-border-color;
            box-shadow: 0 0 0 0.2rem $form-input-shadow-color;
        }

        // clase de react-select
        .css-t3ipsp-control {
            border-color: $form-input-border-color !important;
            box-shadow: 0 0 0 0.2rem $form-input-shadow-color !important;
        }

        .img-select {
            width: 100px;
            object-fit: contain;
        }
    }

    .botones {
        text-align: center;

        margin-top: $form-button-margin-top;
        margin-bottom: $form-button-margin-bottom;

        // estilos a partir de sm
        @media screen and (min-width: $sm) {
            text-align: start;
        }

        button {
            // para que cuando los botones se situen uno encima del otro, tengan espacio
            margin-bottom: $form-button-margin-bottom / 2;

            margin-right: $form-button-margin-right;
            margin-left: $form-button-margin-left;
        }
    }   
}

// estilos para dashboard
.dashboard-menu {
    padding: $dashb-menu-padding;

    // para que estén ordenados en cuadrados
    .datos, .item {
        border: $dashb-item-border;
        border-radius: $dashb-item-border-radius;

        margin-top: $dashb-item-margin-top;
        margin-bottom: $dashb-item-margin-bottom;
        padding-top: $dashb-item-padding-top;
        padding-bottom: $dashb-item-padding-bottom;
    }

    .item {
        text-align: $dashb-item-align;

        // estilos a partir de sm
        @media screen and (min-width: $sm) {
            padding-top: $dashb-item-padding-top-sm;
            padding-bottom: $dashb-item-padding-top-sm;
        }
    }

    .p-left {
        padding-left: $dashb-item-padding-left;

        // estilos a partir de sm
        @media screen and (min-width: $sm) {
            padding-left: $dashb-item-padding-left-sm;
        }
    }
    
    .p-right {
        padding-right: $dashb-item-padding-right;

        // estilos a partir de sm
        @media screen and (min-width: $sm) {
            padding-right: $dashb-item-padding-right-sm;
        }
    }

}

// da estilo a los títulos de las páginas hijas de dashboard
.titulo-dashboard {
    font-size: $dashb-titulo-font-size;
    text-align: $dashb-titulo-align;
    padding: $dashb-titulo-padding;

    // estilos a partir de sm
    @media screen and (min-width: $sm) {
        font-size: $dashb-titulo-font-size-sm;
        text-align: $dashb-titulo-align-sm;
        padding: $dashb-titulo-padding-sm;
    }
}

.subtitulo-dashboard {

    font-size: $dashb-subtitulo-font-size;
    text-align: $dashb-subtitulo-align;
    padding: $dashb-subtitulo-padding;

    @media screen and (min-width: $sm) {
        
        font-size: $dashb-subtitulo-font-size-sm;
        text-align: $dashb-subtitulo-align-sm;
        padding: $dashb-subtitulo-padding-sm;
    }
}

// para quitar todos los estilo del NavLink
.navLink {
    all: unset;
    cursor: pointer;
}

// estilos para los componentes cards
.card {
    width: $card-width;
    margin: $card-margin;

    // imagen
    img {
        height: $card-img-height;
        margin-top: $card-img-margin-top;
    }

    // subtitulo
    .card-subtitle {
        font-weight: $card-subtitle-weigth;
        text-transform: $card-subtitle-text-transform;
        padding: $card-subtitle-padding;
    }

    // solo para etiquetas <p>
    p.card-text {
        padding: $card-p-card-text-padding;
    }

    // lista de la info, etiqueta <ul>
    .card-info {

        padding: $card-info-padding;

        // solo para etiquetas <li>
        li.card-text {
            text-align: $card-info-card-text-align;
            list-style: $card-info-card-text-list-style;

            span {
                font-weight: $card-info-card-text-span-weight;
            }
        }
    }

    // grupo de botones
    .botones {
        text-align: $card-botones-align;

        button {
            width: $card-button-width;
            margin: $card-button-margin;
        }
    }
}
