@charset "UTF-8";
/**
 *
 * Forms
 */
/**
 *
 * Login
 */
/**
 *
 * Dashboard
 */
/**
 *
 * Card
 */
/**
 *
 * Componentes comunes
 */
/**
 *
 * Componenes UI
 */
.carousel {
  height: calc(100vh - 100px - 100px);
  padding: 0;
}
.carousel .carousel-item img {
  height: calc(100vh - 100px - 100px);
  -o-object-fit: cover;
     object-fit: cover;
}

.bajar-carousel {
  text-align: center;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.bajar-carousel button {
  background: none;
  border: none;
  cursor: pointer;
}
.bajar-carousel button .bi {
  font-size: 36px;
  display: inline-block;
  animation: flecha-sube-baja 1.5s infinite;
  transition: transform 0.3s ease, font-size 0.3s ease;
}
.bajar-carousel button:hover .bi:hover {
  transform: translateY(5px);
  font-size: 50px;
}

@keyframes flecha-sube-baja {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.formlogin-ext {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

.formlogin {
  max-width: 400px;
}
@media screen and (min-width: 576px) {
  .formlogin {
    background-color: rgb(255, 190, 190);
    border-radius: 5px;
  }
}
.formlogin .campo {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.formlogin .campo i {
  font-size: 20px;
}
.formlogin .campo:first-child {
  padding-top: 40px;
}
.formlogin .campo .input-group, .formlogin .campo:last-child {
  text-align: center;
}
.formlogin .campo button {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 170px;
  height: 50px;
  font-size: 20px;
}

.lista-rut-seg-calentamientos {
  text-align: center;
  justify-content: center;
}

.desplegable-rut-seg-calentamientos {
  margin: 40px 60px;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .desplegable-rut-seg-calentamientos {
    text-align: start;
  }
}

.lista-rut-seg-ejercicios {
  text-align: center;
  justify-content: center;
}

.desplegable-rut-seg-ejercicios {
  margin: 40px 60px;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .desplegable-rut-seg-ejercicios {
    text-align: start;
  }
}

.lista-rut-seg-ejercicios {
  text-align: center;
  justify-content: center;
}

.desplegable-rut-seg-ejercicios {
  margin: 40px 60px;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .desplegable-rut-seg-ejercicios {
    text-align: start;
  }
}

.lista-rut-seg-ejercicios {
  text-align: center;
  justify-content: center;
}

.desplegable-rut-seg-ejercicios {
  margin: 40px 60px;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .desplegable-rut-seg-ejercicios {
    text-align: start;
  }
}

.navbar .logo-reactiv {
  width: 45px;
  padding: 0 5px;
}
.navbar .navbar-toggler {
  font-size: 30px;
}
.navbar .navbar-toggler .bi-list-nested {
  color: var(--bs-navbar-hover-color);
  display: none;
}
.navbar .navbar-toggler:hover .bi-list, .navbar .navbar-toggler:focus .bi-list {
  display: none;
}
.navbar .navbar-toggler:hover .bi-list-nested, .navbar .navbar-toggler:focus .bi-list-nested {
  display: inline;
}
.navbar .btn-close, .navbar .navbar-toggler {
  border: 0;
}
.navbar .btn-close:focus, .navbar .navbar-toggler:focus {
  box-shadow: none;
}
@media screen and (max-width: 768px) {
  .navbar .offcanvas {
    width: 50%;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  .navbar .offcanvas {
    width: 200px;
    max-width: 70%;
  }
}

.top-bar {
  text-align: center;
  height: 100px;
}
.top-bar .logo-reactiv {
  width: 100px;
  padding: 10px;
}

.breadcrumb-nav {
  --bs-breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='12' fill='rgb(0, 0, 0)' class='bi bi-shuffle' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.6 9.6 0 0 0 7.556 8a9.6 9.6 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.6 10.6 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.6 9.6 0 0 0 6.444 8a9.6 9.6 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5'/><path d='M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192'/></svg>");
  padding-left: 20px;
}
@media screen and (min-width: 576px) {
  .breadcrumb-nav {
    padding-left: 50px;
  }
}

.btn-add {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media screen and (min-width: 576px) {
  .btn-add {
    height: 100px;
  }
}
.btn-add i {
  font-size: 25px;
}
@media screen and (min-width: 576px) {
  .btn-add i {
    font-size: 40px;
  }
}
.btn-add .titulo {
  display: block;
}
@media screen and (min-width: 576px) {
  .btn-add .titulo {
    display: none;
  }
}
.btn-add:hover .titulo {
  display: block;
}

.button-add-componente-padre {
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 576px) {
  .button-add-componente-padre {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.button-crear {
  width: 140px;
  height: 50px;
  font-size: 20px;
}

.toast-delete h5 span {
  color: red;
  text-transform: uppercase;
}

.button-delete-archivo {
  all: unset;
  color: #ff0000;
  font-size: 20px;
  margin-left: 10px;
  padding-left: 7px;
}

.button-reset {
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.checkbox-font {
  font-size: 20px;
}

.container-checkboxdespl {
  fill: red;
}

/*
 *
 * Código por defecto
 */
/*------ Settings ------*/
.container-checkboxdespl {
  --size: 15px;
  padding: 15px 25px 15px 15px;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container-checkboxdespl .chevron-right-checkboxdespl {
  position: absolute;
  display: none;
  animation: keyframes-return 0.5s;
}
.container-checkboxdespl .chevron-down-checkboxdespl {
  position: absolute;
  animation: keyframes-fill 0.5s;
}
.container-checkboxdespl input {
  /* ------ Hide the default checkbox ------ */
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* ------ On check event ------ */
}
.container-checkboxdespl input:checked ~ .chevron-right-checkboxdespl {
  display: block;
}
.container-checkboxdespl input:checked ~ .chevron-down-checkboxdespl {
  display: none;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-90deg) scale(0);
    opacity: 0;
  }
  50% {
    transform: rotate(0deg) scale(1.2);
  }
}
@keyframes keyframes-return {
  0% {
    transform: rotate(90deg) scale(0);
    opacity: 0;
  }
  50% {
    transform: rotate(0deg) scale(1.2);
  }
}
.dropdown-user .dropdown-fuera-offcanvas {
  position: absolute;
}
.dropdown-user .nav-link .bi-person-circle {
  font-size: 30px;
  padding-right: 5px;
}
.dropdown-user .nav-link .bi-caret-down, .dropdown-user .nav-link .bi-caret-down-fill {
  font-size: 20px;
}
.dropdown-user .nav-link .bi-caret-down-fill {
  display: none;
}
.dropdown-user .nav-link:focus .bi-caret-down, .dropdown-user .nav-link:hover .bi-caret-down {
  display: none;
}
.dropdown-user .nav-link:focus .bi-caret-down-fill, .dropdown-user .nav-link:hover .bi-caret-down-fill {
  display: inline;
}

.error-input {
  color: #c80000;
  font-size: 15px;
  text-align: left;
}

.rutina-card {
  padding-top: 10px;
}
@media screen and (min-width: 576px) {
  .rutina-card {
    padding: 20px 50px;
  }
}
.rutina-card .item .imagen {
  height: 50px;
}
.rutina-card .item .fondo {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(135deg, #c1cc9b, #acbb79, #97aa57);
}
@media screen and (min-width: 576px) {
  .rutina-card .item {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 20px;
  }
  .rutina-card .item .nombre {
    font-size: 25px;
    font-weight: bold;
  }
  .rutina-card .item .desc {
    font-size: 17px;
  }
  .rutina-card .item:hover {
    background-color: #eaffa4;
  }
}
.rutina-card .accordion-button {
  background: linear-gradient(135deg, #c1cc9b, #acbb79, #97aa57);
}
.rutina-card .btn-ver-rutina {
  width: 100%;
  border-color: #acbb79;
  margin-top: 30px;
}
.rutina-card .btn-ver-rutina:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: #acbb79;
}

.card {
  width: 250px;
  margin: 10px;
  align-items: center;
}
.card img {
  margin-top: 22px;
  width: 100px;
}
@media screen and (min-width: 576px) {
  .card img {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .card img {
    width: 200px;
  }
}
.card .card-subtitle {
  font-weight: normal;
  text-transform: uppercase;
  padding: 10px 0;
}
.card p.card-text {
  padding: 5px 0;
}
.card .card-info {
  padding: 7px 0 10px 15px;
}
.card .card-info li.card-text {
  text-align: start;
  list-style: none;
}
.card .card-info li.card-text span {
  font-weight: bold;
}
.card .botones {
  text-align: center;
}
.card .botones button {
  width: 40px;
  margin: 2px 10px;
}

.dashboard-menu {
  padding: 20px;
}
.dashboard-menu .datos, .dashboard-menu .item {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dashboard-menu .item {
  text-align: center;
}
@media screen and (min-width: 576px) {
  .dashboard-menu .item {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.dashboard-menu .p-left {
  padding-left: 0px;
}
@media screen and (min-width: 576px) {
  .dashboard-menu .p-left {
    padding-left: 10px;
  }
}
.dashboard-menu .p-right {
  padding-right: 0px;
}
@media screen and (min-width: 576px) {
  .dashboard-menu .p-right {
    padding-right: 10px;
  }
}

.titulo-dashboard {
  font-size: 25px;
  text-align: center;
  padding: 20px;
  background-color: rgb(202, 202, 202);
}
@media screen and (min-width: 576px) {
  .titulo-dashboard {
    font-size: 30px;
    text-align: start;
    padding: 30px 50px;
  }
}
.titulo-dashboard .destacado {
  color: red;
  font-weight: bold;
}

.subtitulo-dashboard {
  font-size: 20px;
  text-align: center;
  padding: 30px;
}
@media screen and (min-width: 576px) {
  .subtitulo-dashboard {
    font-size: 27px;
    text-align: start;
    padding: 30px 70px;
  }
}

@media screen and (min-width: 576px) {
  form:not(.formlogin, .card) {
    padding: 20px 100px !important;
  }
}
@media screen and (min-width: 768px) {
  form:not(.formlogin, .card) {
    padding: 20px 180px 0 50px !important;
  }
}
form .campo {
  padding: 20px;
}
form .campo label {
  color: green;
  font-weight: bold;
}
form .campo input, form .campo textarea {
  max-width: 550px;
}
form .campo input::-moz-placeholder, form .campo textarea::-moz-placeholder {
  color: rgb(167, 167, 167);
}
form .campo input::placeholder, form .campo textarea::placeholder {
  color: rgb(167, 167, 167);
}
form .campo input:focus, form .campo textarea:focus {
  border-color: #ff6600;
  box-shadow: 0 0 0 0.2rem rgba(255, 102, 0, 0.2509803922);
}
form .campo .css-t3ipsp-control {
  border-color: #ff6600 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 102, 0, 0.2509803922) !important;
}
form .campo .img-select {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
form .campo .sub-select {
  font-size: smaller;
}
form .campo .react-select__menu {
  max-height: 60vh;
}
@media screen and (min-width: 576px) {
  form .campo .react-select__menu {
    width: 500px !important;
  }
}
@media screen and (min-width: 768px) {
  form .campo .react-select__menu {
    width: 750px !important;
  }
}
@media screen and (min-width: 1200px) {
  form .campo .react-select__menu {
    width: 1000px !important;
  }
}
form .campo .react-select__menu-list {
  max-height: 60vh !important;
  gap: 10px;
  display: grid;
}
@media screen and (min-width: 768px) {
  form .campo .react-select__menu-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  form .campo .react-select__menu-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
form .botones {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
}
@media screen and (min-width: 576px) {
  form .botones {
    text-align: start;
  }
}
form .botones button {
  margin-bottom: 50px;
  margin-right: 40px;
  margin-left: 40px;
}

.sx-calendar {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .sx-calendar {
    padding: 50px;
  }
}

.sx-react-calendar-wrapper {
  width: 100vw;
  height: 55vh;
}
@media screen and (min-width: 576px) {
  .sx-react-calendar-wrapper {
    max-width: 90vw;
    max-height: 80vh;
  }
}
@media screen and (min-width: 768px) {
  .sx-react-calendar-wrapper {
    width: 1200px;
    height: 800px;
  }
}

body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.navLink {
  all: unset;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */