@import './imports';

body {
    background-color: $body-bg-color;
    
    // ocupa todo el alto de la pantalla
    min-height: $body-height;

    // para que se adapte con el alto del footer
    position: relative;
    padding-bottom: 200px;
}

// para quitar todos los estilo del NavLink
.navLink {
    all: unset;
    cursor: pointer;
}

.reloj {
    @include font-reloj;
}

.fecha {
    @include host-grotesk;
}
