@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
/**
 *
 * Fonts
 */
/**
 *
 * Forms
 */
/**
 *
 * Login
 */
/**
 *
 * Dashboard
 */
/**
 *
 * Card
 */
/**
 *
 * Componentes comunes
 */
/**
 *
 * Componenes UI
 */
.actions-entrenador {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel {
  height: calc(100vh - 100px - 100px);
  padding: 0;
}
.carousel .carousel-item img {
  height: calc(100vh - 100px - 100px);
  -o-object-fit: cover;
     object-fit: cover;
}

.bajar-carousel {
  text-align: center;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.bajar-carousel button {
  background: none;
  border: none;
  cursor: pointer;
}
.bajar-carousel button .bi {
  font-size: 36px;
  display: inline-block;
  animation: flecha-sube-baja 1.5s infinite;
  transition: transform 0.3s ease, font-size 0.3s ease;
}
.bajar-carousel button .bi-caret-down {
  display: block;
}
.bajar-carousel button .bi-caret-down-fill {
  display: none;
}
.bajar-carousel button:hover .bi-caret-down {
  display: none !important;
}
.bajar-carousel button:hover .bi-caret-down-fill {
  display: block;
}
.bajar-carousel button:hover .bi:hover {
  transform: translateY(5px);
  font-size: 50px;
}

@keyframes flecha-sube-baja {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.home {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #002855;
  text-align: center;
  padding: 50px;
}
@media screen and (min-width: 576px) {
  .home {
    font-size: 70px;
  }
}
@media screen and (min-width: 768px) {
  .home {
    font-size: 80px;
  }
}

.home-subtitulos {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  padding: 40px 50px;
}
@media screen and (min-width: 576px) {
  .home-subtitulos {
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) {
  .home-subtitulos {
    font-size: 30px;
  }
}
.home-subtitulos .bi {
  font-size: 50px;
  padding-left: 50px;
}
@media screen and (min-width: 576px) {
  .home-subtitulos .bi {
    font-size: 75px;
  }
}
@media screen and (min-width: 768px) {
  .home-subtitulos .bi {
    font-size: 100px;
  }
}

.home-ejercicios {
  padding: 80px 0;
}

.lista-ejercicios .scrolling-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 0 60px;
}
.lista-ejercicios .scrolling-card {
  flex: 0 0 auto;
  margin: 10px;
  width: 75px;
  height: 50px;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .lista-ejercicios .scrolling-card {
    width: 150px;
    height: 100px;
  }
}
@media screen and (min-width: 768px) {
  .lista-ejercicios .scrolling-card {
    width: 250px;
    height: 150px;
  }
}
.lista-ejercicios .scrolling-card img {
  width: 100%;
  height: 100%;
}
.lista-ejercicios .scrolling-buttons-container {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  position: relative;
  top: 80px;
}
@media screen and (min-width: 576px) {
  .lista-ejercicios .scrolling-buttons-container {
    top: 100px;
  }
}
@media screen and (min-width: 768px) {
  .lista-ejercicios .scrolling-buttons-container {
    top: 125px;
  }
}

.datos-codigo-acceso {
  text-align: center;
}

.eliminar-entrenador {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
@media screen and (min-width: 576px) {
  .eliminar-entrenador {
    padding: 100px;
  }
}
.eliminar-entrenador button {
  width: 280px;
  height: 50px;
}

.datos-calentamientos-seguimientos-edit {
  text-align: center;
  padding-top: 10px;
  padding-left: 20px;
}
@media screen and (min-width: 576px) {
  .datos-calentamientos-seguimientos-edit {
    text-align: start;
    padding-left: 50px;
  }
}
.datos-calentamientos-seguimientos-edit button {
  margin: 0 10px;
}

.eliminar-socio {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
@media screen and (min-width: 576px) {
  .eliminar-socio {
    padding: 100px;
  }
}
.eliminar-socio button {
  width: 250px;
  height: 50px;
}

.datos-taquilla {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 0px;
}
@media screen and (min-width: 576px) {
  .datos-taquilla {
    padding-left: 30px;
  }
}
.datos-taquilla .destacado {
  color: blue;
  font-weight: bold;
}
.datos-taquilla .fecha-fianza, .datos-taquilla .socio {
  padding-bottom: 30px;
}

.datos-tarifa-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.datos-tarifa-actions button {
  margin: 10px;
}
@media screen and (min-width: 576px) {
  .datos-tarifa-actions button {
    margin: 0;
  }
}

.no-datos-tarifa-actual {
  text-align: center;
  padding: 90px 0;
}
.no-datos-tarifa-actual .dropdown {
  text-align: start;
  padding-left: 100px;
}

.datos-tarifa-actual {
  background-color: #e0e0e0;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 50px 0px;
  padding: 25px;
}
@media screen and (min-width: 576px) {
  .datos-tarifa-actual {
    margin: 50px;
  }
}
.datos-tarifa-actual .titulo {
  color: green;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}
.datos-tarifa-actual .campo {
  padding: 0px;
}
.datos-tarifa-actual .campo .contenido {
  background-color: #cee8ff;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 0px;
}
@media screen and (min-width: 576px) {
  .datos-tarifa-actual .campo .contenido {
    margin: 5px;
  }
}
.datos-tarifa-actual .campo .contenido .titulo {
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
}
.datos-tarifa-actual .campo .contenido .detalle {
  padding: 10px;
}

footer {
  background-color: rgb(97, 97, 97);
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}
footer .licencia {
  text-align: center;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
}
footer, footer a {
  color: aliceblue;
}
footer a:hover, footer a a:hover {
  color: rgb(255, 138, 138);
}
footer img {
  max-width: 1em;
  max-height: 1em;
  margin-left: 0.2em;
}

.formlogin-ext {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

.formlogin {
  max-width: 400px;
}
@media screen and (min-width: 576px) {
  .formlogin {
    background-color: #161A1D;
    border-radius: 5px;
  }
}
.formlogin .campo {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.formlogin .campo i {
  font-size: 20px;
}
.formlogin .campo:first-child {
  padding-top: 40px;
}
.formlogin .campo .input-group, .formlogin .campo:last-child {
  text-align: center;
}
.formlogin .campo button {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 170px;
  height: 50px;
  font-size: 20px;
}

.lista-entrenadores {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.lista-entrenadores .bi {
  font-size: 70px;
  padding: 0;
}
@media screen and (min-width: 576px) {
  .lista-entrenadores .bi {
    font-size: 100px;
  }
}
.lista-entrenadores .entrenador-img {
  width: 70px;
  border-radius: 25%;
}
@media screen and (min-width: 576px) {
  .lista-entrenadores .entrenador-img {
    width: 100px;
  }
}
.lista-entrenadores table {
  table-layout: fixed;
}
.lista-entrenadores table thead {
  text-align: center;
}
@media screen and (min-width: 576px) {
  .lista-entrenadores table tbody tr {
    border: 1px solid rgb(125, 125, 125);
  }
}
.lista-entrenadores table tbody tr td {
  padding: 10px 5px;
}
@media screen and (min-width: 576px) {
  .lista-entrenadores table tbody tr td {
    padding: 20px 7px;
  }
}
@media screen and (min-width: 768px) {
  .lista-entrenadores table tbody tr td {
    padding: 20px 20px;
  }
}
.lista-entrenadores table tbody tr td .btn-detalles button {
  width: 100px;
}
.lista-entrenadores table tbody tr td .btn-detalles button .bi {
  font-size: 20px;
}

.btn-cargar-mas-lista-entrenadores {
  text-align: center;
  padding: 50px;
}

.lista-productos {
  display: flex;
  justify-content: center;
}

.lista-rut-seg-calentamientos {
  text-align: center;
  justify-content: center;
}

.desplegable-rut-seg-calentamientos {
  margin: 40px 60px;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .desplegable-rut-seg-calentamientos {
    text-align: start;
  }
}

.lista-rut-seg-ejercicios {
  text-align: center;
  justify-content: center;
}

.desplegable-rut-seg-ejercicios {
  margin: 40px 60px;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .desplegable-rut-seg-ejercicios {
    text-align: start;
  }
}

.lista-rut-seg-ejercicios {
  text-align: center;
  justify-content: center;
}

.desplegable-rut-seg-ejercicios {
  margin: 40px 60px;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .desplegable-rut-seg-ejercicios {
    text-align: start;
  }
}

.dropdown-form-add-calentamiento-ejercicio-seguimiento {
  padding: 20px;
}

.lista-rut-seg-ejercicios {
  text-align: center;
  justify-content: center;
}

.desplegable-rut-seg-ejercicios {
  margin: 40px 60px;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .desplegable-rut-seg-ejercicios {
    text-align: start;
  }
}

.dropdown-form-add-calentamiento-ejercicio-seguimiento {
  padding: 20px;
}

.lista-socio-productos {
  justify-content: center;
}

.lista-socios {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.lista-socios .bi {
  font-size: 70px;
  padding: 0;
}
@media screen and (min-width: 576px) {
  .lista-socios .bi {
    font-size: 100px;
  }
}
.lista-socios .socio-img {
  width: 70px;
  border-radius: 25%;
}
@media screen and (min-width: 576px) {
  .lista-socios .socio-img {
    width: 100px;
  }
}
.lista-socios table {
  table-layout: fixed;
}
.lista-socios table thead {
  text-align: center;
}
@media screen and (min-width: 576px) {
  .lista-socios table tbody tr {
    border: 1px solid rgb(125, 125, 125);
  }
}
.lista-socios table tbody tr td {
  padding: 10px 5px;
}
@media screen and (min-width: 576px) {
  .lista-socios table tbody tr td {
    padding: 20px 7px;
  }
}
@media screen and (min-width: 768px) {
  .lista-socios table tbody tr td {
    padding: 20px 20px;
  }
}
.lista-socios table tbody tr td .btn-detalles button {
  width: 100px;
}
.lista-socios table tbody tr td .btn-detalles button .bi {
  font-size: 20px;
}

.btn-cargar-mas-lista-socios {
  text-align: center;
  padding: 50px;
}

.navbar .logo-reactiv {
  width: 70px;
  padding: 0 10px;
}
.navbar .navbar-toggler {
  font-size: 30px;
}
.navbar .navbar-toggler .bi-list-nested {
  color: var(--bs-navbar-hover-color);
  display: none;
}
.navbar .navbar-toggler:hover .bi-list, .navbar .navbar-toggler:focus .bi-list {
  display: none;
}
.navbar .navbar-toggler:hover .bi-list-nested, .navbar .navbar-toggler:focus .bi-list-nested {
  display: inline;
}
.navbar .btn-close, .navbar .navbar-toggler {
  border: 0;
}
.navbar .btn-close:focus, .navbar .navbar-toggler:focus {
  box-shadow: none;
}
@media screen and (max-width: 768px) {
  .navbar .offcanvas {
    width: 50%;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  .navbar .offcanvas {
    width: 200px;
    max-width: 70%;
  }
}

.top-bar {
  text-align: center;
  height: 100px;
}
.top-bar .logo-reactiv {
  width: 100px;
  padding: 10px;
}

.flip-card-access-card {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 250px;
  padding: 0 50px;
}
.flip-card-access-card .title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}
.flip-card-access-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card-access-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-access-card .flip-card-front,
.flip-card-access-card .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}
.flip-card-access-card .flip-card-front {
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%, rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
}
.flip-card-access-card .flip-card-back {
  background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%, bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  transform: rotateY(180deg);
}

.breadcrumb-nav {
  --bs-breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='12' fill='rgb(0, 0, 0)' class='bi bi-shuffle' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.6 9.6 0 0 0 7.556 8a9.6 9.6 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.6 10.6 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.6 9.6 0 0 0 6.444 8a9.6 9.6 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5'/><path d='M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192'/></svg>");
  padding-left: 20px;
}
@media screen and (min-width: 576px) {
  .breadcrumb-nav {
    padding-left: 50px;
  }
}

.btn-accion-entrenador {
  margin: 15px !important;
}

/* From Uiverse.io by satyamchaudharydev */
.btn-accion-entrenador {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-accion-entrenador {
  --primary-color: #111;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.btn-accion-entrenador p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

.btn-accion-entrenador::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.btn-accion-entrenador p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.btn-accion-entrenador:hover::after {
  width: 100%;
}

.btn-accion-entrenador:hover p::before {
  width: 100%;
}

.btn-accion-entrenador:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

.btn-accion-entrenador svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

.btn-add {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media screen and (min-width: 576px) {
  .btn-add {
    height: 100px;
  }
}
.btn-add i {
  font-size: 25px;
}
@media screen and (min-width: 576px) {
  .btn-add i {
    font-size: 40px;
  }
}
.btn-add .titulo {
  display: block;
}
@media screen and (min-width: 576px) {
  .btn-add .titulo {
    display: none;
  }
}
.btn-add:hover .titulo {
  display: block;
}

.button-add-componente-padre {
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 576px) {
  .button-add-componente-padre {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/* From Uiverse.io by alexruix */
.button-card {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
  width: 190px;
  height: 254px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #f7ba2b;
  background: var(--background);
  position: relative;
  z-index: 1;
  /*Hover*/
}
.button-card::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(25px);
  background: #f7ba2b;
  background: var(--background);
  transition: opacity 0.5s;
}
.button-card .card-info {
  --color: #181818;
  background: var(--color);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
}
.button-card .button-card .title {
  font-weight: bold;
  letter-spacing: 0.1em;
}
.button-card:hover::after {
  opacity: 0;
}
.button-card:hover .card-info {
  color: #f7ba2b;
  transition: color 1s;
}

.button-crear {
  width: 140px;
  height: 50px;
  font-size: 20px;
}

.main {
  text-align: center;
}
@media screen and (min-width: 576px) {
  .main {
    text-align: start;
  }
}
.main .btn-outline-dark {
  color: red;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 0px;
}
@media screen and (min-width: 576px) {
  .main .btn-outline-dark {
    margin-left: 28px;
  }
}

.toast-delete h5 span {
  color: red;
  text-transform: uppercase;
}
.toast-delete .toast-body {
  text-align: center;
}
.toast-delete .toast-body button {
  margin: 2px 10px;
}

.button-delete-archivo {
  all: unset;
  color: #ff0000;
  font-size: 20px;
  margin-left: 10px;
  padding-left: 7px;
}

.button-reset {
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.checkbox-font {
  font-size: 20px;
}

.container-checkboxdespl {
  fill: red;
}

/*
 *
 * Código por defecto
 */
/*------ Settings ------*/
.container-checkboxdespl {
  --size: 15px;
  padding: 15px 25px 15px 15px;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container-checkboxdespl .chevron-right-checkboxdespl {
  position: absolute;
  display: none;
  animation: keyframes-return 0.5s;
}
.container-checkboxdespl .chevron-down-checkboxdespl {
  position: absolute;
  animation: keyframes-fill 0.5s;
}
.container-checkboxdespl input {
  /* ------ Hide the default checkbox ------ */
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* ------ On check event ------ */
}
.container-checkboxdespl input:checked ~ .chevron-right-checkboxdespl {
  display: block;
}
.container-checkboxdespl input:checked ~ .chevron-down-checkboxdespl {
  display: none;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-90deg) scale(0);
    opacity: 0;
  }
  50% {
    transform: rotate(0deg) scale(1.2);
  }
}
@keyframes keyframes-return {
  0% {
    transform: rotate(90deg) scale(0);
    opacity: 0;
  }
  50% {
    transform: rotate(0deg) scale(1.2);
  }
}
.dropdown-user .dropdown-fuera-offcanvas {
  background-color: #0B090A;
  position: absolute;
}
.dropdown-user .dropdown-fuera-offcanvas .dropdown-item {
  color: #003cab;
}
.dropdown-user .dropdown-fuera-offcanvas .dropdown-item:hover {
  background-color: #003cab;
  color: #0B090A;
}
.dropdown-user .nav-link .user-icon {
  width: 45px;
  border-radius: 50%;
  margin: 0 10px;
}
.dropdown-user .nav-link .bi {
  font-size: 30px;
  padding-right: 5px;
}
.dropdown-user .nav-link .bi-caret-down, .dropdown-user .nav-link .bi-caret-down-fill {
  font-size: 20px;
}
.dropdown-user .nav-link .bi-caret-down-fill {
  display: none;
}
.dropdown-user .nav-link:focus .bi-caret-down, .dropdown-user .nav-link:hover .bi-caret-down {
  display: none;
}
.dropdown-user .nav-link:focus .bi-caret-down-fill, .dropdown-user .nav-link:hover .bi-caret-down-fill {
  display: inline;
}

.error-input {
  color: #c80000;
  font-size: 15px;
  text-align: left;
}

.producto-card {
  width: 200px;
  margin: 10px;
}
@media screen and (min-width: 576px) {
  .producto-card {
    width: 250px;
  }
}
@media screen and (min-width: 992px) {
  .producto-card {
    width: 300px;
  }
}
.producto-card .image_container {
  text-align: center;
}
.producto-card .image_container img {
  width: 75px;
}
@media screen and (min-width: 576px) {
  .producto-card .image_container img {
    width: 100px;
  }
}
@media screen and (min-width: 768px) {
  .producto-card .image_container img {
    width: 150px;
  }
}
.producto-card .title {
  font-size: 17px;
}
@media screen and (min-width: 576px) {
  .producto-card .title {
    font-size: 22px;
  }
}
.producto-card .size {
  font-size: 15px;
}
@media screen and (min-width: 576px) {
  .producto-card .size {
    font-size: 20px;
  }
}

/* https://uiverse.io/MuhammadHasann/old-eagle-40 */
.producto-card {
  --bg-card: #27272a;
  --primary: #6d28d9;
  --primary-800: #4c1d95;
  --primary-shadow: #2e1065;
  --light: #d9d9d9;
  --zinc-800: #18181b;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  background-color: var(--bg-card);
  border-radius: 1rem;
}
.producto-card .image_container {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background-color: var(--primary-800);
  border-radius: 0.5rem;
}
.producto-card .image_container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  fill: var(--light);
}
.producto-card .title {
  width: 100%;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
  text-overflow: ellipsis;
}
.producto-card .size {
  color: var(--light);
}
.producto-card .list-size {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.25rem;
}
.producto-card .list-size .item-list {
  list-style: none;
}
.producto-card .list-size .item-list-button {
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--zinc-800);
  font-size: 0.75rem;
  color: var(--light);
  border: 2px solid var(--zinc-800);
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}
.producto-card .item-list-button:hover {
  border: 2px solid var(--light);
}
.producto-card .item-list-button:focus {
  background-color: var(--primary);
  border: 2px solid var(--primary-shadow);
  box-shadow: inset 0px 1px 4px var(--primary-shadow);
}
.producto-card .action {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.producto-card .price {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--light);
}
.producto-card .cart-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  background-image: var(--bg-linear);
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light);
  text-wrap: nowrap;
  border: 2px solid hsla(262, 83%, 58%, 0.5);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.25rem 1px var(--light);
}
.producto-card .cart-button .cart-icon {
  width: 1rem;
}

.rutina-card {
  padding-top: 10px;
}
@media screen and (min-width: 576px) {
  .rutina-card {
    padding: 20px 50px;
  }
}
.rutina-card .item .imagen {
  height: 50px;
}
.rutina-card .item .fondo {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(135deg, #c1cc9b, #acbb79, #97aa57);
}
@media screen and (min-width: 576px) {
  .rutina-card .item {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 20px;
  }
  .rutina-card .item .nombre {
    font-size: 25px;
    font-weight: bold;
  }
  .rutina-card .item .desc {
    font-size: 17px;
  }
  .rutina-card .item:hover {
    background-color: #eaffa4;
  }
}
.rutina-card .accordion-button {
  background: linear-gradient(135deg, #c1cc9b, #acbb79, #97aa57);
}
.rutina-card .btn-ver-rutina {
  width: 100%;
  border-color: #acbb79;
  margin-top: 30px;
}
.rutina-card .btn-ver-rutina:hover {
  color: #d0d5e0;
  border-color: #d0d5e0;
  background-color: #acbb79;
}

.card {
  width: 250px;
  margin: 10px;
  align-items: center;
}
.card img {
  margin-top: 22px;
  width: 100px;
}
@media screen and (min-width: 576px) {
  .card img {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .card img {
    width: 200px;
  }
}
.card .card-subtitle {
  font-weight: normal;
  text-transform: uppercase;
  padding: 10px 0;
}
.card p.card-text {
  padding: 5px 0;
}
.card .card-info {
  padding: 7px 0 10px 15px;
}
.card .card-info li.card-text {
  text-align: start;
  list-style: none;
}
.card .card-info li.card-text span {
  font-weight: bold;
}
.card .botones {
  text-align: center;
}
.card .botones button {
  width: 40px;
  margin: 2px 10px;
}

.dashboard-menu {
  color: white !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  padding: 20px;
}
@media screen and (min-width: 576px) {
  .dashboard-menu {
    font-size: 25px;
  }
}
@media screen and (min-width: 992px) {
  .dashboard-menu {
    padding-right: 100px;
    padding-left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .dashboard-menu {
    padding-right: 150px;
    padding-left: 150px;
  }
}
@media screen and (min-width: 1400px) {
  .dashboard-menu {
    padding-right: 155px;
    padding-left: 155px;
  }
}
.dashboard-menu a {
  text-decoration: none;
  color: inherit;
}
.dashboard-menu .datos, .dashboard-menu .item {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dashboard-menu .item {
  background-image: url("/src/assets/bg-dshb-item.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: center;
  text-shadow: #500;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .dashboard-menu .item {
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 50px;
  }
}
@media screen and (min-width: 992px) {
  .dashboard-menu .item {
    padding: 80px;
  }
}
.dashboard-menu .item:hover {
  border: 1px solid #00f;
  box-shadow: 0 0 10px 2px #00f, 0 0 10px 2px;
  animation: blue-glow 1.5s infinite alternate;
}
.dashboard-menu .p-left {
  padding-left: 0px;
}
@media screen and (min-width: 576px) {
  .dashboard-menu .p-left {
    padding-left: 10px;
  }
}
.dashboard-menu .p-right {
  padding-right: 0px;
}
@media screen and (min-width: 576px) {
  .dashboard-menu .p-right {
    padding-right: 10px;
  }
}

.titulo-dashboard {
  font-size: 25px;
  text-align: center;
  padding: 20px;
  background-color: rgb(202, 202, 202);
}
@media screen and (min-width: 576px) {
  .titulo-dashboard {
    font-size: 30px;
    text-align: start;
    padding: 30px 50px;
  }
}
.titulo-dashboard .destacado {
  color: red;
  font-weight: bold;
}

.subtitulo-dashboard {
  font-size: 20px;
  text-align: center;
  padding: 30px;
}
@media screen and (min-width: 576px) {
  .subtitulo-dashboard {
    font-size: 27px;
    text-align: start;
    padding: 30px 70px;
  }
}

@keyframes blue-glow {
  0% {
    box-shadow: 0 0 8px 1px #00f, 0 0 16px 2px #00f inset;
    border-color: #00f;
  }
  100% {
    box-shadow: 0 0 32px 8px #00f, 0 0 64px 16px #00f inset;
    border-color: #33f;
  }
}
@media screen and (min-width: 576px) {
  form:not(.formlogin, .card) {
    padding: 20px 100px !important;
  }
}
@media screen and (min-width: 768px) {
  form:not(.formlogin, .card) {
    padding: 20px 180px 0 50px !important;
  }
}
form .titulo {
  color: blue;
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
}
@media screen and (min-width: 576px) {
  form .titulo {
    text-align: start;
    padding: 30px 0;
  }
}
form .campo {
  padding: 20px;
}
form .campo label {
  color: green;
  font-weight: bold;
}
form .campo input, form .campo textarea {
  max-width: 550px;
}
form .campo input::-moz-placeholder, form .campo textarea::-moz-placeholder {
  color: rgb(167, 167, 167);
}
form .campo input::placeholder, form .campo textarea::placeholder {
  color: rgb(167, 167, 167);
}
form .campo input:focus, form .campo textarea:focus {
  border-color: #ff6600;
  box-shadow: 0 0 0 0.2rem rgba(255, 102, 0, 0.2509803922);
}
form .campo .campo-imagen {
  max-width: 100%;
  max-height: 150px;
  border-radius: 10%;
}
form .campo .css-t3ipsp-control {
  border-color: #ff6600 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 102, 0, 0.2509803922) !important;
}
form .campo .img-select {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
form .campo .sub-select {
  font-size: smaller;
}
form .campo .react-select__menu {
  z-index: 999;
}
form .campo :not(.dropdown-menu, .select-lista-socio-productos) .react-select__menu {
  max-height: 60vh;
}
@media screen and (min-width: 576px) {
  form .campo :not(.dropdown-menu, .select-lista-socio-productos) .react-select__menu {
    width: 500px !important;
  }
}
@media screen and (min-width: 768px) {
  form .campo :not(.dropdown-menu, .select-lista-socio-productos) .react-select__menu {
    width: 750px !important;
  }
}
@media screen and (min-width: 1200px) {
  form .campo :not(.dropdown-menu, .select-lista-socio-productos) .react-select__menu {
    width: 1000px !important;
  }
}
form .campo :not(.dropdown-menu) .react-select__menu-list {
  max-height: 60vh !important;
  gap: 10px;
  display: grid;
}
@media screen and (min-width: 768px) {
  form .campo :not(.dropdown-menu) .react-select__menu-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  form .campo :not(.dropdown-menu) .react-select__menu-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
form .botones {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
}
@media screen and (min-width: 576px) {
  form .botones {
    text-align: start;
  }
}
form .botones button {
  margin-bottom: 50px;
  margin-right: 40px;
  margin-left: 40px;
}

:root {
  --sx-color-primary: #6750a4;
  --sx-color-on-primary: #fff;
  --sx-color-primary-container: #eaddff;
  --sx-color-on-primary-container: #21005e;
  --sx-color-secondary: #625b71;
  --sx-color-on-secondary: #fff;
  --sx-color-secondary-container: #e8def8;
  --sx-color-on-secondary-container: #1e192b;
  --sx-color-tertiary: #7d5260;
  --sx-color-on-tertiary: #fff;
  --sx-color-tertiary-container: #ffd8e4;
  --sx-color-on-tertiary-container: #370b1e;
  --sx-color-surface: #fef7ff;
  --sx-color-surface-dim: #ded8e1;
  --sx-color-surface-bright: #fef7ff;
  --sx-color-on-surface: #1c1b1f;
  --sx-color-surface-container: #f3edf7;
  --sx-color-surface-container-low: #f7f2fa;
  --sx-color-surface-container-high: #ece6f0;
  --sx-color-background: #fff;
  --sx-color-on-background: #1c1b1f;
  --sx-color-outline: #79747e;
  --sx-color-outline-variant: #c4c7c5;
  --sx-color-shadow: #000;
  --sx-color-surface-tint: #6750a4;
  --sx-color-neutral: var(--sx-color-outline);
  --sx-color-neutral-variant: var(--sx-color-outline-variant);
  --sx-internal-color-gray-ripple-background: #e0e0e0;
  --sx-internal-color-light-gray: #fafafa;
  --sx-internal-color-text: #000;
}

.sx-calendar-accesos {
  --sx-color-primary-container: #ff3838;
  --sx-color-primary: #ff6363;
}

.sx-calendar-seguimientos {
  --sx-color-primary-container: #f3ff4b;
  --sx-color-primary: #a3a852;
}

.sx-calendar-socio-tarifas {
  --sx-color-primary-container: #4bff87;
  --sx-color-primary: #59a852;
}

.sx-calendar-socio-productos {
  --sx-color-primary-container: #bcc9ff;
  --sx-color-primary: #5852a8;
}

.sx-calendar {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .sx-calendar {
    padding: 50px;
  }
}
.sx-calendar .event-modal {
  background-color: rgb(235, 235, 235);
  color: black;
  font-size: 15px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 10px;
  padding: 20px;
  max-width: 100vw;
}
@media screen and (min-width: 576px) {
  .sx-calendar .event-modal {
    font-size: 20px;
  }
}
.sx-calendar .event-modal .destacado {
  font-weight: bold;
}
.sx-calendar .event-modal .detalles {
  text-align: center;
  padding-top: 15px;
}
.sx-calendar .event-modal .detalles button {
  font-size: 15px;
}

.sx-react-calendar-wrapper {
  width: 100vw;
  height: 55vh;
}
@media screen and (min-width: 576px) {
  .sx-react-calendar-wrapper {
    max-width: 90vw;
    max-height: 80vh;
  }
}
@media screen and (min-width: 768px) {
  .sx-react-calendar-wrapper {
    width: 1200px;
    height: 800px;
  }
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #d0d5e0;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
}

.navLink {
  all: unset;
  cursor: pointer;
}

.reloj {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fecha {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}/*# sourceMappingURL=style.css.map */